/* Globales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #333355; /* Rosa claro */
  
}

*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-heading {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.6;
}

.footer-bottom {
  background-color: #222;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom a {
  color: #fff;
}
.footer-text a{
  text-decoration: none;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 0 0 calc(50% - 20px);
}

@media (max-width: 768px) {
  .col {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}


/* Header Styles */
.main-header {
  background-color: #333; /* Negro */
  color: #fff; /* Blanco */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.main-header img{
  border-radius:3px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu ul li {
  margin-left: 20px;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-menu ul li a:hover {
  background-color: #335; /* Rojo */
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: flex-start;
    background-color: #000; /* Negro */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: none;
  }

}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	
}
.container-items .item {
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.container-items .item:hover {
  transform: translateY(-5px);
}

.item {
	border-radius: 10px;
	background: #E7DDFF;
}
.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}
.item figure {
	overflow: hidden;
	
}
.item:hover img {
	transform: scale(1.2);
	
}
.info-product {
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.info-product p{
    margin: 0 0 2rem;
    font-size: clamp(20px,2vw,20px);
    font-weight: 350;
    line-height: 135%;
}
.info-product button {
	border-radius:10px;
	background-color: #333355;
	color: #fff;
	padding: 10px 10px;
	cursor: pointer;
}
.info-product button:hover {
	transform: scale(1.1);
	
}
.description{
  min-height:100px;
}


/* Cards */
.cards-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	gap: 20px;
  }
.cards-container-about{
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 20px;
}
  .card {
	border: 1px solid #333;
	border-radius: 8px;
	padding: 20px;
	background: #E7DDFF;
  

  }
  .card h3 {
    font-size: clamp(20px,2vw,30px);
    font-weight: 350;
    line-height: 135%;
  }
  .card p {
    color: #333;
    margin: 0 0 2rem;
    font-size: clamp(20px,2vw,20px);
    font-weight: 350;
    line-height: 135%;
    
  }
  


  /* Paginas texto plano */
  .container-text{
    max-width: 1200px;
    margin: auto;

  }
  .title-text {
	letter-spacing: -1px;
    color: white;
    text-shadow: 0 2px 1px #000;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .body-text{
	margin: 0 0 2rem;
    font-size: clamp(20px,2vw,22px);
    font-weight: 350;
    line-height: 135%;
    color: white;
  }

  /* Formulario Contacto */
  .container-form {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #CFBBFE;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-form h2 {
	text-align: center;
	
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  .container-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  }
  
  .container-form input[type="text"],
  input[type="number"],
  input[type="email"],
  select,
  .container-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  background:#E7DDFF;
  }
  
  .container-form textarea {
	resize: vertical;
  }
  
  .container-form button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #333355;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .container-form button:hover {
	background-color: #0056b3;
  }

  /* Product detail Contacto */
  .container-detail{
    padding: 30px;
	display: flex;
	flex-direction: column;
  }
  .container-detail h2{
    letter-spacing: -1px;
    text-shadow: 0 2px 1px #000;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .container-detail p{
    margin: 0 0 2rem;
    font-size: clamp(20px,2vw,22px);
    font-weight: 350;
    line-height: 135%;
    
  }
  .item-detail {
    border-radius: 10px;
    background: #E7DDFF;
  }
  .item-detail .imagen-detail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
  }
  .item-detail .video img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
  }

